[user]
	name = Michael Teuscher
	email = 70554955+mfteuscher@users.noreply.github.com
	signingkey = /Users/michaelteuscher/.ssh/id_github.pub
[gpg]
	format = ssh
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[gpg "ssh"]
	allowedSignersFile = /Users/michaelteuscher/.ssh/allowed_signers
[alias]
    new = checkout -b
    publish = "!f() { BRANCH=${1:-$(git rev-parse --abbrev-ref HEAD)}; git push -u origin $BRANCH; }; f"
    ff = merge --ff-only
[core]
	editor = nvim
